@{
    ViewData["Title"] = "User Dashboard";
}
<h2>Welcome to the User Dashboard</h2>
<p>this is your personalized dashbaord with user-specific functions.</p>

<ul>
    <li><a href="/User/Index">View Profile</a></li>
    <li><a href="/User/EditProfile">Edit Profile</a></li>
    <li><a href="/Account/Logout">Logout</a></li>
</ul>